body.page-template-about {

	section.featured-photo {
		.caption {
			padding: 10px 0 0 0;
			text-align: right;

			p {
				font-family: $circular;
				font-size: 0.8125em;
				line-height: 1.25em;
				color: $gray;
				font-style: italic;
			}
		}
	}

	section.biography {
		max-width: 725px;
		margin: 0 auto;
		padding: 25px 0 0 0;
		
		@include tablet-portrait {
			padding: 75px 0 0 0;
		}
		
		p {
		    font-size: 1.125rem;
		    line-height: 1.6;
		    

		    @include tablet-portrait {
		    	font-size: 1.375rem;
		    }

		    & + p {
		    	padding: 25px 0 0 0;
		    }
		}

		ul {
			list-style-type: disc;
			padding: 25px 0 0 50px;

			li {
			    font-size: 1rem;
			    line-height: 1.6;

			    & + li {
			    	padding: 10px 0 0 0;
			    }
			    

			    @include tablet-portrait {
			    	font-size: 1.125rem;
			    }
			}
		}

		ul + p {
			padding: 25px 0 0 0;
		}
	}
}