body.post-type-archive-work {

	section.work-grid {
		display: grid;
		gap: 50px 50px;
		grid-template-columns: 1fr;
		padding-top: 50px;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr;
		}
	}

	article {
		section.thumbnail {
			img {
				border-radius: 3px;
				@include box-shadow;
			}
		}

		section.info {
			text-align: center;
			padding: 15px 0 0 0;

			@include tablet-portrait {
				padding: 20px 0 0 0;
			}

			h3 {
				font-family: $besley;
				font-weight: 500;
				font-size: 1.5rem;
				padding: 0 0 5px 0;

				@include desktop {
					font-size: 1.5rem;
				}
				
				a {
					color: $slate;
				}
			}

			h4 {
				font-size: 0.875rem;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				font-family: $not-courier-sans-bold;
				color: $light-brown;
			}
		}	
	}
}