section.archive {
	max-width: 800px;
	margin: 0 auto;

	.year-header {
		h4 {
			font-family: $not-courier-sans-bold;
			font-size: 1.5rem;
			padding: 0 0 20px;
			letter-spacing: 0.05em;				
		}
	}

	.month + .year-header {
		margin-top: 50px;
		border-top: 2px solid $beige;
		padding-top: 50px;

		@include tablet-portrait {
			margin-top: 75px;
			padding-top: 75px;
		}
	}

	.month {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr;

		@include tablet-portrait {
			grid-template-columns: 1fr 3fr;
		}

		& + .month {
			@include tablet-portrait {
				padding-top: 50px;
			}
			

			aside {
				padding-top: 50px;
			}

			@include tablet-portrait {
				section.posts {
					border-top: 1px solid $beige;
					padding-top: 50px;
				}
			}
		}
	}

	aside {

		h5.month-header {
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: $red;
			font-size: 1.125rem;
			font-family: $not-courier-sans-bold;
		}
	}

	section.posts {

		article.post {

			& + article.post {
				padding-top: 50px;
			}
		}
	}

	article.post {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 3fr 1fr;

		.info {
			h3 {
				font-size: 1rem;
				line-height: 1.25em;
				font-weight: 700;
				font-family: $circular;

				@include tablet-portrait {
					font-size: 1.125rem;
				}

				a:hover {
					text-decoration: underline;			
				}
			}

			.deck {
				padding-top: 5px;

				p {
					font-size: 0.875rem;
					line-height: 1.5em;
					font-weight: 300;
					color: $light-gray;

					@include tablet-portrait {
						font-size: 0.9375rem;
					}
				}
			}
		}

		.date {
			padding: 2px 0 0 0;
			text-align: right;

			em {
				color: $red;
				font-family: $not-courier-sans-bold;
				font-size: 0.8125em;
				font-style: normal;
				text-transform: uppercase;
				letter-spacing: 0.05em;
			}
		}	
		
		&.film-review {

			.info {

				.headline {
					display: flex;
					align-items: flex-start;

					@include tablet-portrait {
						align-items: center;
					}

					h3 {
						font-family: $besley;
						font-weight: 500;
						font-size: 1.125rem;
						font-style: italic;

						@include tablet-landscape {
							font-size: 1.375rem;
						}
					}

					.stars {
						display: flex;
						align-items: center;
						padding-left: 10px;
						padding-top: 5px;

						@include tablet-portrait {
							padding-top: 0;
						}

						.star {
							font-family: FontAwesome;
							font-size: 0.75rem;
							color: $red;

							&.full {
								&:before {
									content: '\f005';
								}
							}

							&.half {
								&:before {
									content: '\f123';
								}
							}

							& + .star {
								margin-left: 2px;
							}
						}
					}
				}
			}

		}

		&.feature {
			.info {
				h3 {
					font-size: 1.125rem;

					@include tablet-portrait {
						font-size: 1.375rem;
					}
				}
			}

			.deck {
				p {
					font-size: 0.9375rem;

					@include tablet-portrait {
						font-size: 1.125rem;
					}
				}
			}

		}
	}
}