footer {
	background: $slate;
	color: $white;
	padding: 100px 0;
	margin: 50px 0 0 0;

	@include tablet-portrait {
		margin: 100px 0 0 0;
		padding: 150px 0;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	.logo {
		padding: 0 0 50px 0;

		@include tablet-portrait {
			padding: 0 0 100px 0;
		}

		a {
			display: block;
			margin: 0 auto;
			max-width: 388px;

		}

		h4 {
			text-transform: uppercase;
			letter-spacing: 0.1em;
			font-size: 0.875rem;
			padding: 20px 0 0 0;
			font-family: $not-courier-sans-bold;
		}
	}

	nav {
		padding: 100px 0;
		display: none;

		@include tablet-portrait {
			padding: 150px 0;
		}

		a {
			color: $white;
			font-size: 1.125em;
			display: block;
			margin: 20px 0;
			
			span {
				padding: 0 0 4px 0;
				border-bottom: 1px solid transparent;
				display: inline-block;
				transition: all 0.2s ease-in-out;
			}

			@include tablet-portrait {
				display: inline-block;
				margin: 0 20px 0 0;

				&:after {
					content: '·';
					display: inline-block;
					margin: 0 0 0 20px;
				}
			}

			&:last-of-type {
				margin: 0;

				&:after {
					padding: 0;
					display: none;
				}
			}

			&:hover {
				span {
					border-bottom: 1px solid $white;
				}				
			}
		}
	}

	.contact {
		h3 {
			font-size: 1.25em;
			line-height: 1.25em;
			padding: 0 0 25px 0;
			font-family: $circular;
			font-weight: 400;

			@include tablet-portrait {
				font-size: 1.5rem;

				br {
					display: none;
				}
			}
		}

		a {
			color: $white;
			font-size: 0.8125em;
			font-family: $not-courier-sans-bold;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			border: 2px solid;
			padding: 16px 32px 18px 32px;
			border-radius: 40px;
			display: inline-block;
			transition: all 0.2s ease-in-out;

			@include tablet-landscape {
				font-size: 1rem;
				letter-spacing: 0.1em;
			}

			&:hover {
				background: $white;
				color: $black;
				border: 2px solid $white;
			}
		}
	}	
}