body.home {

	section.hero {
		padding: 0 0 100px 0;

		@include tablet-portrait {
			padding: 50px 0 150px 0;
		}		

		h1 {
			font-size: 3rem;
			font-family: $besley;
			font-weight: 500;
			padding-bottom: 20px;

			@include tablet-portrait {
				font-size: 4rem;
			}
		}

		h2 {
			font-family: $circular;
			font-weight: 300;
			font-size: 1.25rem;
			line-height: 1.5em;
			color: $slate;

			@include tablet-portrait {
				font-size: 1.5rem;
			}

			br {
				display: none;

				@include tablet-portrait {
					display: block;
				}
			}
		}
	}

	section.work-showcase {
		background: $beige;
		padding: 50px 0;

		.showcase-grid {
			transform: translateY(-100px);
			margin-bottom: -200px;
			display: grid;
			gap: 20px;
			grid-template-columns: 1fr 1fr;

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr;
			}			
		}

		.project {
			&-1 {
				grid-column: 1 / span 2;					
			}

			&-4 {
				grid-column: 1 / span 2;	
				@include tablet-portrait {
					grid-column: 2 / span 2;
				}									
			}

			img {
				border-radius: 3px;
				@include box-shadow;
			}

			a {
				display: block;

				.info {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width: 100%;
					height: 100%;
					background: rgba(255, 255, 255, 0.95);
					content: '';
					opacity: 0;
					transition: opacity 0.3s ease-in-out;
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					padding: 20px;

					&:hover {
						cursor: pointer;
					}

					h3 {
						font-family: $besley;
						font-weight: 500;
						font-size: 1.25rem;
						line-height: 1.125em;
						color: $charcoal;

						@include mobile-landscape {
							font-size: 1.5em;
						}

						@include tablet-landscape {
							font-size: 1.75em;
						}
					}

					h4 {
						text-transform: uppercase;
						padding: 5px 0 0 0;
						letter-spacing: 0.05em;
						font-size: 1rem;
						font-family: $not-courier-sans-bold;
						color: $light-brown;
					}
				}

				&:hover .info {
					opacity: 1;
				}
			}
		}
	}

	section.pricing {
		padding: 150px 0 50px 0;

		@include tablet-portrait {
			padding: 200px 0 100px 0;
		}

		h3.section-header {
			color: $slate;
			font-weight: 500;
		}

		.pricing-grid {
			display: grid;
			gap: 40px;
			grid-template-columns: 1fr;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.option {
			background: $white;
			text-align: center;
			border: 1px solid rgba(42, 42, 42, 0.1);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 50px 0 40px 0;
			@include box-shadow;

			.name {
				padding: 0 0 48px 0;
				border-bottom: 2px solid #f5f5f5;


				h4 {
					text-transform: uppercase;
					font-size: 1.5rem;
					letter-spacing: 0.05em;
					color: $green;
					font-family: $not-courier-sans-bold;
				}
			}

			.features {
				padding: 50px 25px 75px 25px;

				ul {
					li {
						font-size: 1em;
						line-height: 1.25em;
						color: $gray;

						& + li {
							padding: 20px 0 0 0;
						}
					}
				}
			}

			.price {
				h4 {
					font-size: 1.875em;
					color: $slate;
					font-family: $not-courier-sans-bold;
				}
			}
		}
	}

	section.weblog {
		background: $beige;
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}
	}


	footer {
		margin-top: 0;
	}
}