body.single-work {

	section.article-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.screenshot,
		.info {
			width: 100%;

			@include tablet-landscape {
				width: calc(50% - 25px);
			}			
		}

		.screenshot {
			img {
				@include box-shadow;
				border-radius: 3px;
			}
		}

		.info {
			padding: 50px 0 0 0;

			h1.page-title {
				padding-bottom: 25px;
			}

			.description {
				margin: 0 0 50px 0;
				border-bottom: 1px solid rgba(42, 42, 42, 0.1);
				padding: 0 0 50px 0;

				p {
					font-size: 1.125rem;
					line-height: 1.5em;

					& + p {
						padding: 25px 0 0 0;
					}

					@include tablet-landscape {
						font-size: 1.25rem;
					}
				}

				a {
					text-decoration: underline;
					color: $brown;
				}


			}
		}

		.details {
			&--item {
				padding: 0 0 50px 0;

				h4 {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1.25rem;
					padding: 0 0 10px 0;
					font-family: $not-courier-sans-bold;
					color: $light-brown;
				}

				p {
					font-size: 0.875rem;
				}

				&.services {
					p {
						display: flex;

						span {
							&:after {
								content: '·';
								padding: 0 10px;
							}
						}

						.editorial {
							order: 1;
						}

						.design {
							order: 2;
						}

						.build {
							order: 3;
							&:after {
								content: '';
								padding: 0;
							}

						}

					}
				}

				&.view {
					padding: 0;
				}

			}
		}

	}
}