/* Media Queries
----------------------------------*/
$mobile-portrait-width: 480px;
$mobile-landscape-width: 640px;
$tablet-portrait-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;
$wide-desktop-width: 1600px;


@mixin mobile-portrait {
	@media screen and (min-width: #{$mobile-portrait-width}) {
		@content;
	}
}

@mixin mobile-landscape {
	@media screen and (min-width: #{$mobile-landscape-width}) {
		@content;
	}
}

@mixin tablet-portrait {
	@media screen and (min-width: #{$tablet-portrait-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media screen and (min-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin wide-desktop {
	@media screen and (min-width: #{$wide-desktop-width}) {
		@content;
	}
}

@mixin box-shadow {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
	transition: box-shadow 0.5s ease-in-out;

	&:hover {
		box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
	}
}

@mixin link-underline {

	&:after {
		display: block;
		width: 100%;
		padding: 0 5px;
		height: 10px;
		background: $yellow;
		content: '';
		transform: translate(-5px, -6px);
		z-index: -1;
		position: relative;
	}

}

@mixin link-underline-active {

	&:after {
		opacity: 1;
	}
	
}