@charset "UTF-8";
/*

    Theme Name: Bearsmith
    Theme URI: http://www.andrewlovseth.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Bearsmith
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'notcouriersansbold';
  src: url("fonts/NotCourierSans-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'notcouriersansregular';
  src: url("fonts/NotCourierSans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Black.eot");
  src: url("fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Black.woff") format("woff"), url("fonts/CircularStd-Black.ttf") format("truetype"), url("fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BlackItalic.eot");
  src: url("fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-BlackItalic.woff") format("woff"), url("fonts/CircularStd-BlackItalic.ttf") format("truetype"), url("fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Bold.eot");
  src: url("fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Bold.woff") format("woff"), url("fonts/CircularStd-Bold.ttf") format("truetype"), url("fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BoldItalic.eot");
  src: url("fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-BoldItalic.woff") format("woff"), url("fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Medium.eot");
  src: url("fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Medium.woff") format("woff"), url("fonts/CircularStd-Medium.ttf") format("truetype"), url("fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-MediumItalic.eot");
  src: url("fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-MediumItalic.woff") format("woff"), url("fonts/CircularStd-MediumItalic.ttf") format("truetype"), url("fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Book.eot");
  src: url("fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-Book.woff") format("woff"), url("fonts/CircularStd-Book.ttf") format("truetype"), url("fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BookItalic.eot");
  src: url("fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CircularStd-BookItalic.woff") format("woff"), url("fonts/CircularStd-BookItalic.ttf") format("truetype"), url("fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic; }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #A85751;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #A85751;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea {
  color: #2B2B2B;
  font: 400 100%/1 "CircularStd"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Besley", sans-serif; }

a {
  color: #2B2B2B;
  transition: all 0.2s ease-in-out; }

h1.page-title {
  font-family: "Besley", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0 0 50px 0; }
  h1.page-title:after {
    display: block;
    content: '';
    width: 30px;
    height: 2px;
    background: #2B2B2B;
    margin: 18px 0 0 0; }
  @media screen and (min-width: 640px) {
    h1.page-title {
      font-size: 2rem; }
      h1.page-title:after {
        width: 40px;
        margin: 20px 0 0 0; } }

h3.section-header {
  color: #99785A;
  font-size: 1.5rem;
  line-height: 1.25em;
  text-align: center;
  padding: 0 0 25px 0;
  max-width: 640px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    h3.section-header {
      font-size: 2.25em;
      padding: 0 0 50px 0;
      max-width: 960px; } }
  h3.section-header br {
    display: none; }
    @media screen and (min-width: 1024px) {
      h3.section-header br {
        display: block; } }

h4.sub {
  font-weight: bold;
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.15em; }
  @media screen and (min-width: 768px) {
    h4.sub {
      font-size: 0.875em; } }
  h4.sub.border {
    display: inline-block;
    border-bottom: 2px solid;
    padding: 0 0 5px 0; }

h5.tag {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 0 10px 0; }
  h5.tag a {
    display: inline-block; }
    h5.tag a:after {
      display: block;
      width: 100%;
      padding: 0 5px;
      height: 10px;
      background: #F8FB8F;
      content: '';
      transform: translate(-5px, -6px);
      z-index: -1;
      position: relative; }
    h5.tag a:after {
      padding: 0 4px;
      height: 8px;
      transform: translate(-5px, -4px); }

.btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.875em;
  padding: 10px 32px 12px 32px;
  border: 2px solid;
  border-radius: 5px;
  font-family: "notcouriersansbold", monospace;
  display: inline-block; }
  .btn:hover {
    background: #2B2B2B;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #2B2B2B; }

body {
  background: #f8f8f8; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1260px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
header {
  padding: 50px 0 50px 0; }
  header .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  header div.logo {
    max-width: 250px; }
    @media screen and (min-width: 640px) {
      header div.logo {
        max-width: 300px; } }
    @media screen and (min-width: 768px) {
      header div.logo {
        max-width: 250px; } }
    @media screen and (min-width: 1024px) {
      header div.logo {
        max-width: 388px; } }
    header div.logo a {
      display: block; }
  header nav {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; }
    @media screen and (min-width: 768px) {
      header nav {
        display: block !important;
        position: static;
        width: auto;
        height: auto;
        background: transparent;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        z-index: 1; } }
    header nav .nav-wrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;
      justify-content: center;
      align-items: center; }
      @media screen and (min-width: 768px) {
        header nav .nav-wrapper {
          flex-direction: row;
          height: auto;
          justify-content: flex-end; } }
    header nav a {
      font-size: 1rem;
      padding: 25px 0;
      display: block;
      font-family: "notcouriersansbold", monospace;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
      header nav a:after {
        display: block;
        width: 100%;
        padding: 0 5px;
        height: 10px;
        background: #F8FB8F;
        content: '';
        transform: translate(-5px, -6px);
        z-index: -1;
        position: relative; }
      @media screen and (min-width: 768px) {
        header nav a + a {
          margin-left: 30px; } }
      @media screen and (min-width: 1024px) {
        header nav a + a {
          margin-left: 50px; } }
      header nav a:after {
        opacity: 0;
        transition: opacity 0.4s ease-in-out; }
      header nav a:hover:after {
        opacity: 1; }
  header #toggle {
    width: 25px;
    cursor: pointer;
    padding: 8px 0;
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1); }
    @media screen and (min-width: 768px) {
      header #toggle {
        display: none; } }
    header #toggle .patty {
      width: 20px;
      height: 2px;
      background: #4a4a4a;
      border-radius: 2px;
      transition: all 0.3s;
      transform: translateX(5px); }
      header #toggle .patty:after, header #toggle .patty:before {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: #4a4a4a;
        position: absolute;
        z-index: 1;
        transition: all 0.3s;
        border-radius: 2px;
        transform: translateX(-5px); }
      header #toggle .patty:before {
        top: -6px; }
      header #toggle .patty:after {
        top: 6px; }
  header.open div.logo {
    z-index: 10001; }
  header.open #toggle {
    z-index: 10001; }
    header.open #toggle .patty {
      background: none; }
      header.open #toggle .patty:after {
        top: 0;
        transform: rotate(45deg); }
      header.open #toggle .patty:before {
        top: 0;
        transform: rotate(-45deg); }

@media screen and (min-width: 768px) {
  body.post-type-archive-work nav .nav-work:after,
  body.single-work nav .nav-work:after {
    opacity: 1; }
  body.page-template-approach nav .nav-approach:after {
    opacity: 1; }
  body.page-template-about nav .nav-about:after {
    opacity: 1; }
  body.blog nav .nav-blog:after,
  body.single-post nav .nav-blog:after,
  body.tag nav .nav-blog:after {
    opacity: 1; } }

footer {
  background: #2B2B2B;
  color: #fff;
  padding: 100px 0;
  margin: 50px 0 0 0; }
  @media screen and (min-width: 768px) {
    footer {
      margin: 100px 0 0 0;
      padding: 150px 0; } }
  footer .wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; }
  footer .logo {
    padding: 0 0 50px 0; }
    @media screen and (min-width: 768px) {
      footer .logo {
        padding: 0 0 100px 0; } }
    footer .logo a {
      display: block;
      margin: 0 auto;
      max-width: 388px; }
    footer .logo h4 {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.875rem;
      padding: 20px 0 0 0;
      font-family: "notcouriersansbold", monospace; }
  footer nav {
    padding: 100px 0;
    display: none; }
    @media screen and (min-width: 768px) {
      footer nav {
        padding: 150px 0; } }
    footer nav a {
      color: #fff;
      font-size: 1.125em;
      display: block;
      margin: 20px 0; }
      footer nav a span {
        padding: 0 0 4px 0;
        border-bottom: 1px solid transparent;
        display: inline-block;
        transition: all 0.2s ease-in-out; }
      @media screen and (min-width: 768px) {
        footer nav a {
          display: inline-block;
          margin: 0 20px 0 0; }
          footer nav a:after {
            content: '·';
            display: inline-block;
            margin: 0 0 0 20px; } }
      footer nav a:last-of-type {
        margin: 0; }
        footer nav a:last-of-type:after {
          padding: 0;
          display: none; }
      footer nav a:hover span {
        border-bottom: 1px solid #fff; }
  footer .contact h3 {
    font-size: 1.25em;
    line-height: 1.25em;
    padding: 0 0 25px 0;
    font-family: "CircularStd";
    font-weight: 400; }
    @media screen and (min-width: 768px) {
      footer .contact h3 {
        font-size: 1.5rem; }
        footer .contact h3 br {
          display: none; } }
  footer .contact a {
    color: #fff;
    font-size: 0.8125em;
    font-family: "notcouriersansbold", monospace;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 2px solid;
    padding: 16px 32px 18px 32px;
    border-radius: 40px;
    display: inline-block;
    transition: all 0.2s ease-in-out; }
    @media screen and (min-width: 1024px) {
      footer .contact a {
        font-size: 1rem;
        letter-spacing: 0.1em; } }
    footer .contact a:hover {
      background: #fff;
      color: #000;
      border: 2px solid #fff; }

/*

    ----------------------------------------------------------------------
                                03 Pages
    ----------------------------------------------------------------------

*/
body.home section.hero {
  padding: 0 0 100px 0; }
  @media screen and (min-width: 768px) {
    body.home section.hero {
      padding: 50px 0 150px 0; } }
  body.home section.hero h1 {
    font-size: 3rem;
    font-family: "Besley", sans-serif;
    font-weight: 500;
    padding-bottom: 20px; }
    @media screen and (min-width: 768px) {
      body.home section.hero h1 {
        font-size: 4rem; } }
  body.home section.hero h2 {
    font-family: "CircularStd";
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.5em;
    color: #2B2B2B; }
    @media screen and (min-width: 768px) {
      body.home section.hero h2 {
        font-size: 1.5rem; } }
    body.home section.hero h2 br {
      display: none; }
      @media screen and (min-width: 768px) {
        body.home section.hero h2 br {
          display: block; } }

body.home section.work-showcase {
  background: #F1F0EE;
  padding: 50px 0; }
  body.home section.work-showcase .showcase-grid {
    transform: translateY(-100px);
    margin-bottom: -200px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr; }
    @media screen and (min-width: 768px) {
      body.home section.work-showcase .showcase-grid {
        grid-template-columns: 1fr 1fr 1fr; } }
  body.home section.work-showcase .project-1 {
    grid-column: 1 / span 2; }
  body.home section.work-showcase .project-4 {
    grid-column: 1 / span 2; }
    @media screen and (min-width: 768px) {
      body.home section.work-showcase .project-4 {
        grid-column: 2 / span 2; } }
  body.home section.work-showcase .project img {
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.5s ease-in-out; }
    body.home section.work-showcase .project img:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
  body.home section.work-showcase .project a {
    display: block; }
    body.home section.work-showcase .project a .info {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.95);
      content: '';
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px; }
      body.home section.work-showcase .project a .info:hover {
        cursor: pointer; }
      body.home section.work-showcase .project a .info h3 {
        font-family: "Besley", sans-serif;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.125em;
        color: #4a4a4a; }
        @media screen and (min-width: 640px) {
          body.home section.work-showcase .project a .info h3 {
            font-size: 1.5em; } }
        @media screen and (min-width: 1024px) {
          body.home section.work-showcase .project a .info h3 {
            font-size: 1.75em; } }
      body.home section.work-showcase .project a .info h4 {
        text-transform: uppercase;
        padding: 5px 0 0 0;
        letter-spacing: 0.05em;
        font-size: 1rem;
        font-family: "notcouriersansbold", monospace;
        color: #BEB9B0; }
    body.home section.work-showcase .project a:hover .info {
      opacity: 1; }

body.home section.pricing {
  padding: 150px 0 50px 0; }
  @media screen and (min-width: 768px) {
    body.home section.pricing {
      padding: 200px 0 100px 0; } }
  body.home section.pricing h3.section-header {
    color: #2B2B2B;
    font-weight: 500; }
  body.home section.pricing .pricing-grid {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 640px) {
      body.home section.pricing .pricing-grid {
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 768px) {
      body.home section.pricing .pricing-grid {
        grid-template-columns: 1fr 1fr 1fr; } }
  body.home section.pricing .option {
    background: #fff;
    text-align: center;
    border: 1px solid rgba(42, 42, 42, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 40px 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.5s ease-in-out; }
    body.home section.pricing .option:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
    body.home section.pricing .option .name {
      padding: 0 0 48px 0;
      border-bottom: 2px solid #f5f5f5; }
      body.home section.pricing .option .name h4 {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.05em;
        color: #7E8D62;
        font-family: "notcouriersansbold", monospace; }
    body.home section.pricing .option .features {
      padding: 50px 25px 75px 25px; }
      body.home section.pricing .option .features ul li {
        font-size: 1em;
        line-height: 1.25em;
        color: #595959; }
        body.home section.pricing .option .features ul li + li {
          padding: 20px 0 0 0; }
    body.home section.pricing .option .price h4 {
      font-size: 1.875em;
      color: #2B2B2B;
      font-family: "notcouriersansbold", monospace; }

body.home section.weblog {
  background: #F1F0EE;
  padding: 50px 0; }
  @media screen and (min-width: 768px) {
    body.home section.weblog {
      padding: 100px 0; } }

body.home footer {
  margin-top: 0; }

body.post-type-archive-work section.work-grid {
  display: grid;
  gap: 50px 50px;
  grid-template-columns: 1fr;
  padding-top: 50px; }
  @media screen and (min-width: 640px) {
    body.post-type-archive-work section.work-grid {
      grid-template-columns: 1fr 1fr; } }

body.post-type-archive-work article section.thumbnail img {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.5s ease-in-out; }
  body.post-type-archive-work article section.thumbnail img:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }

body.post-type-archive-work article section.info {
  text-align: center;
  padding: 15px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.post-type-archive-work article section.info {
      padding: 20px 0 0 0; } }
  body.post-type-archive-work article section.info h3 {
    font-family: "Besley", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0 0 5px 0; }
    @media screen and (min-width: 1280px) {
      body.post-type-archive-work article section.info h3 {
        font-size: 1.5rem; } }
    body.post-type-archive-work article section.info h3 a {
      color: #2B2B2B; }
  body.post-type-archive-work article section.info h4 {
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: "notcouriersansbold", monospace;
    color: #BEB9B0; }

body.single-work section.article-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  body.single-work section.article-body .screenshot,
  body.single-work section.article-body .info {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      body.single-work section.article-body .screenshot,
      body.single-work section.article-body .info {
        width: calc(50% - 25px); } }
  body.single-work section.article-body .screenshot img {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.5s ease-in-out;
    border-radius: 3px; }
    body.single-work section.article-body .screenshot img:hover {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
  body.single-work section.article-body .info {
    padding: 50px 0 0 0; }
    body.single-work section.article-body .info h1.page-title {
      padding-bottom: 25px; }
    body.single-work section.article-body .info .description {
      margin: 0 0 50px 0;
      border-bottom: 1px solid rgba(42, 42, 42, 0.1);
      padding: 0 0 50px 0; }
      body.single-work section.article-body .info .description p {
        font-size: 1.125rem;
        line-height: 1.5em; }
        body.single-work section.article-body .info .description p + p {
          padding: 25px 0 0 0; }
        @media screen and (min-width: 1024px) {
          body.single-work section.article-body .info .description p {
            font-size: 1.25rem; } }
      body.single-work section.article-body .info .description a {
        text-decoration: underline;
        color: #99785A; }
  body.single-work section.article-body .details--item {
    padding: 0 0 50px 0; }
    body.single-work section.article-body .details--item h4 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 1.25rem;
      padding: 0 0 10px 0;
      font-family: "notcouriersansbold", monospace;
      color: #BEB9B0; }
    body.single-work section.article-body .details--item p {
      font-size: 0.875rem; }
    body.single-work section.article-body .details--item.services p {
      display: flex; }
      body.single-work section.article-body .details--item.services p span:after {
        content: '·';
        padding: 0 10px; }
      body.single-work section.article-body .details--item.services p .editorial {
        order: 1; }
      body.single-work section.article-body .details--item.services p .design {
        order: 2; }
      body.single-work section.article-body .details--item.services p .build {
        order: 3; }
        body.single-work section.article-body .details--item.services p .build:after {
          content: '';
          padding: 0; }
    body.single-work section.article-body .details--item.view {
      padding: 0; }

body.page-template-about section.featured-photo .caption {
  padding: 10px 0 0 0;
  text-align: right; }
  body.page-template-about section.featured-photo .caption p {
    font-family: "CircularStd";
    font-size: 0.8125em;
    line-height: 1.25em;
    color: #595959;
    font-style: italic; }

body.page-template-about section.biography {
  max-width: 725px;
  margin: 0 auto;
  padding: 25px 0 0 0; }
  @media screen and (min-width: 768px) {
    body.page-template-about section.biography {
      padding: 75px 0 0 0; } }
  body.page-template-about section.biography p {
    font-size: 1.125rem;
    line-height: 1.6; }
    @media screen and (min-width: 768px) {
      body.page-template-about section.biography p {
        font-size: 1.375rem; } }
    body.page-template-about section.biography p + p {
      padding: 25px 0 0 0; }
  body.page-template-about section.biography ul {
    list-style-type: disc;
    padding: 25px 0 0 50px; }
    body.page-template-about section.biography ul li {
      font-size: 1rem;
      line-height: 1.6; }
      body.page-template-about section.biography ul li + li {
        padding: 10px 0 0 0; }
      @media screen and (min-width: 768px) {
        body.page-template-about section.biography ul li {
          font-size: 1.125rem; } }
  body.page-template-about section.biography ul + p {
    padding: 25px 0 0 0; }

section.archive {
  max-width: 800px;
  margin: 0 auto; }
  section.archive .year-header h4 {
    font-family: "notcouriersansbold", monospace;
    font-size: 1.5rem;
    padding: 0 0 20px;
    letter-spacing: 0.05em; }
  section.archive .month + .year-header {
    margin-top: 50px;
    border-top: 2px solid #F1F0EE;
    padding-top: 50px; }
    @media screen and (min-width: 768px) {
      section.archive .month + .year-header {
        margin-top: 75px;
        padding-top: 75px; } }
  section.archive .month {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr; }
    @media screen and (min-width: 768px) {
      section.archive .month {
        grid-template-columns: 1fr 3fr; } }
    @media screen and (min-width: 768px) {
      section.archive .month + .month {
        padding-top: 50px; } }
    section.archive .month + .month aside {
      padding-top: 50px; }
    @media screen and (min-width: 768px) {
      section.archive .month + .month section.posts {
        border-top: 1px solid #F1F0EE;
        padding-top: 50px; } }
  section.archive aside h5.month-header {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #A85751;
    font-size: 1.125rem;
    font-family: "notcouriersansbold", monospace; }
  section.archive section.posts article.post + article.post {
    padding-top: 50px; }
  section.archive article.post {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr; }
    section.archive article.post .info h3 {
      font-size: 1rem;
      line-height: 1.25em;
      font-weight: 700;
      font-family: "CircularStd"; }
      @media screen and (min-width: 768px) {
        section.archive article.post .info h3 {
          font-size: 1.125rem; } }
      section.archive article.post .info h3 a:hover {
        text-decoration: underline; }
    section.archive article.post .info .deck {
      padding-top: 5px; }
      section.archive article.post .info .deck p {
        font-size: 0.875rem;
        line-height: 1.5em;
        font-weight: 300;
        color: #999; }
        @media screen and (min-width: 768px) {
          section.archive article.post .info .deck p {
            font-size: 0.9375rem; } }
    section.archive article.post .date {
      padding: 2px 0 0 0;
      text-align: right; }
      section.archive article.post .date em {
        color: #A85751;
        font-family: "notcouriersansbold", monospace;
        font-size: 0.8125em;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
    section.archive article.post.film-review .info .headline {
      display: flex;
      align-items: flex-start; }
      @media screen and (min-width: 768px) {
        section.archive article.post.film-review .info .headline {
          align-items: center; } }
      section.archive article.post.film-review .info .headline h3 {
        font-family: "Besley", sans-serif;
        font-weight: 500;
        font-size: 1.125rem;
        font-style: italic; }
        @media screen and (min-width: 1024px) {
          section.archive article.post.film-review .info .headline h3 {
            font-size: 1.375rem; } }
      section.archive article.post.film-review .info .headline .stars {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-top: 5px; }
        @media screen and (min-width: 768px) {
          section.archive article.post.film-review .info .headline .stars {
            padding-top: 0; } }
        section.archive article.post.film-review .info .headline .stars .star {
          font-family: FontAwesome;
          font-size: 0.75rem;
          color: #A85751; }
          section.archive article.post.film-review .info .headline .stars .star.full:before {
            content: '\f005'; }
          section.archive article.post.film-review .info .headline .stars .star.half:before {
            content: '\f123'; }
          section.archive article.post.film-review .info .headline .stars .star + .star {
            margin-left: 2px; }
    section.archive article.post.feature .info h3 {
      font-size: 1.125rem; }
      @media screen and (min-width: 768px) {
        section.archive article.post.feature .info h3 {
          font-size: 1.375rem; } }
    section.archive article.post.feature .deck p {
      font-size: 0.9375rem; }
      @media screen and (min-width: 768px) {
        section.archive article.post.feature .deck p {
          font-size: 1.125rem; } }

body.single-post article {
  padding-top: 50px;
  max-width: 1024px;
  margin: 0 auto; }
  body.single-post article .article-header {
    padding: 0 0 25px 0; }
    body.single-post article .article-header span.date {
      color: #2B2B2B;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 1rem;
      font-family: "notcouriersansbold", monospace; }
    body.single-post article .article-header .tags {
      padding: 5px 0 25px 0; }
      body.single-post article .article-header .tags a {
        color: #BEB9B0;
        text-transform: uppercase;
        font-size: 0.8125rem;
        letter-spacing: 0.05em;
        transition: color 0.3s ease-in-out;
        font-family: "notcouriersansbold", monospace; }
        body.single-post article .article-header .tags a:hover {
          text-decoration: underline; }
        body.single-post article .article-header .tags a:before {
          content: '#'; }
        body.single-post article .article-header .tags a + a {
          margin-left: 10px; }
    body.single-post article .article-header h1 {
      font-size: 1.75rem;
      line-height: 1.25em;
      font-weight: 700; }
      @media screen and (min-width: 1024px) {
        body.single-post article .article-header h1 {
          font-size: 2.5rem; } }
  body.single-post article .article-body h5 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #595959;
    padding: 50px 0 5px 0; }
    body.single-post article .article-body h5 + h3 {
      padding-top: 0; }
  body.single-post article .article-body h3 {
    font-size: 1.75em;
    line-height: 1.25em;
    font-weight: 900;
    padding: 50px 0 25px 0;
    color: #2B2B2B; }
  body.single-post article .article-body p {
    font-size: 1.375em;
    line-height: 1.6;
    padding: 0 0 30px 0; }
    @media screen and (min-width: 768px) {
      body.single-post article .article-body p {
        font-size: 1.5625em; } }
  body.single-post article .article-body blockquote {
    margin: 0 0 45px 50px; }
    body.single-post article .article-body blockquote p {
      padding: 0;
      font-size: 1.25em;
      font-style: italic;
      color: #595959; }
      @media screen and (min-width: 768px) {
        body.single-post article .article-body blockquote p {
          font-size: 1.75em; } }
      body.single-post article .article-body blockquote p + p {
        padding-top: 20px; }
  body.single-post article .article-body a {
    box-shadow: inset 0 -12px 0 #F8FB8F;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word; }
  body.single-post article .article-body .image {
    padding: 0 0 50px 0; }
  body.single-post article .article-body .wp-caption {
    width: auto !important;
    text-align: right;
    padding: 0 0 30px 0; }
    body.single-post article .article-body .wp-caption p {
      font-family: "CircularStd";
      font-size: 0.8125em;
      color: #595959;
      font-style: italic;
      padding: 10px 0 0 0; }
    body.single-post article .article-body .wp-caption img {
      width: auto !important;
      height: auto !important; }
    body.single-post article .article-body .wp-caption + h5 {
      padding-top: 0; }
  body.single-post article .article-body iframe {
    margin: 0 auto 25px auto;
    display: block;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2); }
    body.single-post article .article-body iframe[src^="https://tools.applemusic.com"] {
      max-width: 640px; }
  body.single-post article .article-body .embed {
    padding: 0 0 50px 0; }
    body.single-post article .article-body .embed iframe {
      margin: 0; }
    body.single-post article .article-body .embed:first-of-type + h5 {
      padding-top: 0; }
